target/
!.mvn/wrapper/maven-wrapper.jar

node_modules/*
node/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/static/built/*
etc/
